
ProjectFolder/authentication-service/authentication-service/src/main/resources/.env
ProjectFolder/authentication-service/authentication-service/src/main/resources/application-dev.yml

ProjectFolder/mail-service/src/main/resources/application-dev.yml
ProjectFolder/authentication-service/src/main/resources/application-dev.yml